<head>
    <title>EMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div id="content">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <h1 class="h3 mb-2 text-gray-800">Person License Management System</h1>
    </nav>
    <!-- End of Topbar -->
    <div class="container-fluid">
        <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                </div>
                                <form class="user" action="/" method="POST">
                                    <input id="id" name="id" value="{{person.id}}" type="hidden"
                                           class="form-control input-md">
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="name">Enter Name</label>
                                        <div class="col-md-4">
                                            <input id="name" name="name" type="text" placeholder="Enter Name"
                                                   value="{{person.name}}" class="form-control input-md">
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="mobile">Enter Mobile</label>
                                        <div class="col-md-4">
                                            <input id="mobile" name="mobile" type="text" placeholder="Enter Mobile"
                                                   value="{{person.mobile}}" class="form-control input-md">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="mobile">Enter License Number</label>
                                        <div class="col-md-4">
                                            <input id="license_number" name="license_number" type="text" placeholder="Enter License Number"
                                                   value="{{license.license_number}}" class="form-control input-md">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="mobile">Enter Issue Date</label>
                                        <div class="col-md-4">
                                            <input id="issue_date" name="issue_date" type="date" placeholder="Enter Issue Date"
                                                   value="{{license.issue_date}}" class="form-control input-md">
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="mobile">Enter Expiry Date</label>
                                        <div class="col-md-4">
                                            <input id="expiry_date" name="expiry_date" type="date" placeholder="Enter Expiry Date"
                                                   value="{{license.expiry_date}}" class="form-control input-md">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Register Account
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Person License Information DataTables</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>MOBILE</th>
                            <th>LICENSE NO.</th>
                            <th>ISSUE DATE</th>
                            <th>EXPIRY DATE</th>
                            <th>ACTIONS</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>MOBILE</th>
                            <th>LICENSE NO.</th>
                            <th>ISSUE DATE</th>
                            <th>EXPIRY DATE</th>
                            <th>ACTIONS</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {%for person in persons%}
                        <tr>
                            <td>{{person.id}}</td>
                            <td>{{person.name}}</td>
                            <td>{{person.mobile}}</td>
                            <td>{{person.license.license_number}}</td>
                            <td>{{person.license.issue_date}}</td>
                            <td>{{person.license.expiry_date}}</td>
                            <td>
                                <a href="/{{person.id}}">Modify</a>
                                <a href="delete/{{person.id}}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
</body>